@font-face {
    font-family: neue;
    src: url(../fonts/NeueHaasDisplayMediu.ttf);
}

@font-face {
    font-family: neue;
    font-weight: 100;
    src: url(../fonts/NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: neue;
    font-weight: 200;
    src: url(../fonts/NeueHaasDisplayRoman.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'neue';
}
html body{
    height: 100%;
    width: 100%;
}

#main{
    position: relative;
    z-index: 10;
}

/* /////////////       Page-1      //////////////// */
#page-1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    position: relative;
    padding: 0 2vw;
}

nav{
    padding: 2vw 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 100;
}

#nav-part2{
    display: flex;
    align-items: center;
    gap: 1vw;
}

#nav-part2 h4{
    position: relative;
    padding: 10px 20px;
    border: 1px solid #0000006c;
    border-radius: 50px;
    font-weight: 500;
    font-size: 18px;
    overflow: hidden;   
}

#nav-part2 h4::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: black;
    left: 0;
    bottom: -100%;
    border-radius: 50%;
    transition: all ease 0.3s;
}

#nav-part2 h4:hover::after{
    bottom: 0;
    border-radius: 0;
}

#nav-part2 h4 a{
    color: #000000bb;
    text-decoration: none;
    position: relative;
    z-index: 9;
}

#nav-part2 h4:hover a{
    color: #fff;
}

nav h3{
    display: none;
}

#center{
    height: 65vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #0000003c;
    padding-bottom: 2.5vw;
}

#left{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#center h1{
    font-size: 10vw;
    text-align: right;
    line-height: 9vw;
}

#page-1 video{
    border-radius: 30px;
    margin-top: 4vw;
    width: 100%;
    position: relative;
}

#hero-shape{
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 65vh;
}
#hero-1{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #FE320A;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(25px);
}
#hero-2{
    position: absolute;
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#FE320A, #fe3f0a);
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime2;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
#hero-3{
    position: absolute;
    height: 30vw;
    width: 30vw;
    background: linear-gradient(#FE320A, #fe3f0a);
    border-radius: 50%;
    filter: blur(25px);
    animation-name: anime1;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes anime1 {
    from{
        transform: translate(55%, -3%);
    }
    to{
        transform: translate(0%, 10%);
    }
}

@keyframes anime2 {
    from{
        transform: translate(5%, -5%);
    }
    to{
        transform: translate(-20%, 30%);
    }
}

/* /////////////       Page-2      //////////////// */
#page-2{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw;
    position: relative;
}

#moving-text{
    overflow-x: auto;
    white-space: nowrap;
}

#moving-text::-webkit-scrollbar{
    display: none;
}

.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-duration: 10s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#moving-text h1{
    font-size: 9vw;
    display: inline-block;
}

#ball{
    height: 70px;
    width: 70px;
    background-color: #FE320A;
    border-radius: 50%;
    display: inline-block;
    margin: 1vw 3vw;
}

@keyframes move{
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
}

#page-2-bottom{
    height: 80vh;
    width: 100%;
    padding: 4.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
}

#page-2-bottom h1{
    font-size: 4vw;
    width: 60%;
    line-height: 4vw;
}

#bottom-part-2{
    width: 25%;
}

#bottom-part-2 img{
    width: 100%;
    border-radius: 20px;
}

#bottom-part-2 p{
    font-size: 1.1vw;
    font-weight: 200;
    margin-top: 2vw;
}

#page-2 #moving-ball{
    height: 30vw;
    width: 30vw;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to top right, #FE320A, #ff671b);
    top: 58%;
    left: 25%;
    filter: blur(30px);
    animation-name: moving-ball;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes moving-ball {
    from{
        transform: translate(10%, -10%) skew(0);
    }
    to{
        transform: translate(-10%, 10%) skew(-12deg);
    }
    
}

/* /////////////       Page-3      //////////////// */
#page-3{
    min-height: 100vh;
    width: 100%;
    padding: 4vw 0;
    background-color: #EFEAE3;
}

.bottom-page-3{
    height: 150px;
    width: 100%;
    position: relative;
    border-bottom: 1px solid #0000006c;
    display: flex;
    align-items: center;
    padding: 0 2vw;
    overflow: hidden;
}

.bottom-page-3 h2{
  font-size: 3vw;
  position: relative;
  z-index: 9;
}

.bottom-page-3 .overlay{
    height: 100%;
    width: 100%;
    background-color: #FF9831;
    position: absolute;
    left: 0;
    top: -100%;
    transition: all ease 0.2s;
}

.bottom-page-3:hover .overlay{
    top: 0;
}

.fixed-image{
    height: 30vw;
    width: 24vw;
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 27%;
    display: none;
    background-size: cover;
    background-position: center;
}

.featured-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.red-dot{
    position: relative;
    margin: 2vw;
    height: 0.5vw;
    width: 0.5vw;
    background-color: #FE320A;
    border-radius: 50%;
}


.featured-header #heading-style-h4{
    position: absolute;
    left: 3vw;
}

/* /////////////       Page-4      //////////////// */
#page-4{
    height: 60vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 10vw 2vw;
}

/* /////////////       Swiper      //////////////// */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    font-size: 1vw;
    color: #504f4f;
    width: 30%;
    border-left: 1px solid #aeadad;
    padding: 0 2vw;
}


/* /////////////       Page-5      //////////////// */
#page-5{
    height: 70vh;
    width: 100%;
}


/* /////////////       Footer      //////////////// */
#footer{
    position: fixed;
    height: 105vh;
    width: 100%;
    background-color: #000;
    color: #fff;
    z-index: 9;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;
}

#footer-div{
    height: 20vh;
    width: 100%;
    /* background-color: #FE320A; */
}
#footer h1{
    font-size: 23vw;
}

#footer-bottom{
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
}

.footer-item{
    display: flex;
    justify-content: space-between;
}

.footer-item a{
    text-decoration: none;
    color: #fff;
}

.full-screen{
    height: 100vh;
    width: 100%;
    background-color: #0000006b;
    position: fixed;
    z-index: 99;
    top: -100%;
    transition: all ease 0.5s;
}

#full-div-1{
    height: 50%;
    width: 100%;
    background-color: #EFEAE3;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.loader{
    height: 100%;
    width: 100%;
    background-color: #000;
    position: fixed;
    z-index: 999;
    top: 0;
    transition: all ease 0.7s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader h1{
    font-size: 6vw;
    color: transparent;
    background: linear-gradient(to right, orange, orangered);
    -webkit-background-clip: text;
    position: absolute;
    opacity: 0;
    animation-name: loader;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-timing-function: linear;
}

.loader h1:nth-child(2){
  animation-delay: 2s;
}

.loader h1:nth-child(3){
    animation-delay: 3s;
  }

@keyframes loader {
    0%{
        opacity: 0;
    }
    10%{
        opacity: 1;
    }
    90%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}


/* /////////////       Responsive for Mobile View      //////////////// */
@media (max-width:600px) {
    #page-1{
        min-height: 100vh;
        width: 100vw;
        padding: 0 0vw;
    }
    
    nav{
        padding: 8vw 5vw;
        background-color:#EFEAE3;
    }

    nav img{
        transition: all ease 0.2s;
        height: 9vh;
    }
    
    #nav-part2{
        display: none;
    }
    nav h3{
        display: block;
        padding: 3vw 5vw;
        border: 1px solid #ababab;
        border-radius: 50px;
        font-size: 4vw;
        font-weight: 200;
        padding-left: 10vw;
    }

    #center{
        height: 62vh;
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        border-bottom: 1px solid #0000003c;
        padding: 7vw 5vw;
        padding-bottom: 10vw;
        flex-direction: column-reverse;
        position: relative;
        z-index: 9;
    }
    
    #left{
        width: 80%;
        font-size: 4.5vw;
        line-height: 6vw;
        margin-right: 20%;
    }
    #center h1{
        font-size: 16vw;
        text-align: right;
        line-height: 14vw;
    }
    
    #page-1 video{
        position: relative;
        border-radius: 15px;
        height: 70vh;
        object-fit: cover;
        object-position: center;
        margin-top: 4vw;
        margin-left: 4%;
        width: 92%;
    }
    
    #page-2{
        min-height: 100vh;
        width: 100%;
        background-color: #EFEAE3;
        padding: 8vw;
        position: relative;
    }
    
    #moving-text{
        overflow-x: auto;
        white-space: nowrap;
    }
    
    #moving-text::-webkit-scrollbar{
        display: none;
    }
    
    .con{
        white-space: nowrap;
        display: inline-block;
        animation-name: move;
        animation-duration: 10s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
    }
    
    #moving-text h1{
        font-size: 14vw;
        display: inline-block;
    }
    
    #ball{
        height: 25px;
        width: 25px;
        background-color: #FE320A;
        border-radius: 50%;
        display: inline-block;
        margin: 2vw 3vw;
    }

    #page-2-bottom{
        height: 90vh;
        width: 100%;
        padding: 10vw 3vw;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        position: relative;
        z-index: 9;
    }
    
    #page-2-bottom h1{
        font-size: 7vw;
        width: 100%;
        line-height: 9vw;
    }
    
    #bottom-part-2{
        width: 70%;
    }
    
    #bottom-part-2 img{
        width: 100%;
        border-radius: 10px;
    }
    
    #bottom-part-2 p{
        margin-top: 2vw;
        font-size: 3.6vw;
        font-weight: 200;
    }
    
    #page-2 #moving-ball{
        height: 80vw;
        width: 80vw;
        position: absolute;
        border-radius: 50%;
        background: linear-gradient(to top right, #FE320A, #ff671b);
        top: 46%;
        left: 25%;
        filter: blur(30px);
        animation-name: moving-ball;
        animation-duration: 6s;
        animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-timing-function: ease-in-out;
    }  
    
    .loader h1{
        font-size: 10vw;
    }   

    .bottom-page-3 h2{
        font-size: 10vw;
        position: relative;
        z-index: 9;
    }

    .swiper-slide {
        font-size: 4vw;
        color: #504f4f;
        width: 100%;
        border-left: 1px solid #aeadad;
        padding: 0 2vw;
    }

    .red-dot {
        position: relative;
        margin: 2vw;
        height: 2.5vw;
        width: 2.5vw;
        background-color: #FE320A;
        border-radius: 50%;
    }

    .featured-header #heading-style-h4 {
        position: absolute;
        left: 8vw;
    }
}
